<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row"></div>
        <div class="d-flex flex-row-reverse">
            <div class="p-2">Home</div>
            <div class="p-2">Logout</div>
        </div>
        <hr>
        <ul class="list-group">
            <li class="list-group-item font-weight-bold">Transylvania Romania </li>
            <li class="list-group-item">Planned by: </li>
            <li class="list-group-item">Description:</li>
            <li class="list-group-item">Travel Date From: </li>
            <li class="list-group-item">Travel Date To: </li>
        </ul>

        <ul class="list-group pt-5">
            <li class="list-group-item font-weight-bold">Other users' joining the trip: </li>
            <li class="list-group-item">Sandy Smith </li>
            <li class="list-group-item">Mario Stevens</li>
        </ul>
    </div>
</body>

</html>